.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.error_text {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  font-size: 1.125rem;
}

.loader {
  display: grid;
  place-items: center;
  margin-top: 40px;
}
