@import "src/styles/variables";

.container {
  display: grid;
  place-items: center;
  height: 100vh;

  &__title {
    color: $primary-color;
    text-align: center;
    padding-bottom: 100px;
  }
}
