@import "src/styles/variables";

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 120px;

  &__title {
    font-size: 2.5rem;
    color: $primary-color;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(0, 200px) 1fr;
    gap: 20px;
    margin-top: 40px;
  }
}
