@import "src/styles/variables";
@import "src/styles/breakpoints";

.content {
  max-width: 180px;
  width: 100%;

  @include breakpoint(laptop-small) {
    max-width: unset;
  }

  &__heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: $primary-color;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &__icon {
      fill: #397f84;
      transform: rotate(90deg) scale(0.7);
      transition: transform 0.2s;
      margin: {
        left: 5px;
        bottom: -4px;
      }

      &_open {
        transform: rotate(270deg) scale(0.7);
      }
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;

    @include breakpoint(laptop-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(phone-large) {
      display: flex;
    }

    &__loader {
      margin: 20px auto;
    }

    &__item {
      background-color: white;
      box-shadow: $box-shadow;
      border-radius: 20px;
      padding: 8px 16px;
      color: $primary-color;
      font-weight: 500;
      text-transform: capitalize;
      user-select: none;
      cursor: pointer;
      transition: transform 0.2s;

      &_active {
        background-color: $primary-color;
        color: white;
      }

      &:hover {
        transform: scale(1.05);

        @include breakpoint(tablet) {
          transform: unset;
        }
      }
    }
  }
}
